[Desktop Entry]
Version=1.0
Type=Application
Name=Tiny4Linux
Comment=A graphical user interface for OBSBOT Tiny devices
Exec=tiny4linux-gui
Icon=tiny4linux
Terminal=false
Categories=Utility;System;
Keywords=linux;obsbot;tiny;utility;